@tailwind base;
@tailwind components;
@tailwind utilities;

input, textarea, checkbox {
  --tw-ring-shadow: 0 0 #000 !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
  -webkit-text-fill-color: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)) inset;
  -webkit-box-shadow: 0 0 0px 1000px linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)) inset;
  box-shadow: 0 0 0px 1000px linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)) inset;
  transition: all 0s 50000s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
